html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: black;
}


/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'gazpacho-black';
  src: url(/fonts/Gazpacho-Black.ttf);
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'gazpacho-medium';
  src: url(/fonts/Gazpacho-Medium.ttf);
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'gazpacho';
  src: url(/fonts/Gazpacho-Regular.ttf);
}
